:root {
  --vp-c-brand: #409eff;
  --vp-c-brand-light: #66b1ff;
  --vp-c-brand-lighter: #a0cfff;
  --vp-c-brand-dark: #337ecc;
  --vp-c-brand-darker: #2b6cb0;
}

.demo-button .ne-button {
  margin-right: 8px;
  margin-bottom: 12px;
} 